*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    background-image: url('images/bgimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content:center;
    justify-items:center;
}
#container{
    display:flex;
    flex-direction:column;
    width:400px;
    background-color:rgb(246, 243, 243);
    padding:30px;
    gap:10px;
    text-align:center;
}
#answer{
    padding:5px;
}
#submit{
    padding:5px;
    background-color: rgb(61, 61, 220);
    color:white;
}
.hidden{
    display:none !important;
}
